<!DOCTYPE HTML>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Sport en plein air</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ static_url('css/weather-icons.min.css') }}">
        <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    </head>
    <body ng-app="myApp" ng-controller="mainControl" ng-cloak>
        <div layout-padding layout="column">
            <h1>
                Welcome {{ current_user }} !
            </h1>
            <h2 ng-if="connected_object">
                Your <span ng-bind="connected_object.name"></span> is located in <span ng-bind="connected_object.location"></span>.
            </h2>
            <div layout="row" layout-align="space-between center">
                <span>You want to : </span>
                <md-input-container flex>
                    <label>Select a sport</label>
                    <md-select ng-model="select_sport">
                        <md-option ng-repeat="sport in sports" ng-value="sport">
                            <span ng-bind="sport"></span>
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
        </div>
        <md-progress-linear md-mode="indeterminate" ng-show="!day" ng-if="select_sport"></md-progress-linear>
        <div layout-padding ng-if="select_sport">
            <md-grid-list md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6" md-row-height-gt-md="1:1" md-row-height="2:2" md-gutter="12px" md-gutter-gt-sm="8px">
                <md-grid-tile class="gray" md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1" ng-repeat="time in day" ng-style="{'background': (time.users.indexOf('{{ current_user }}') != -1)?'green':'gray'}" ng-click="toggle_time(time.hour)">
                    <span class="md-headline">
                        <span ng-bind="time.hour"></span>
                        h
                        <i class="wi wi-rain" ng-if="time.weather=='Rain'"></i>
                        <i class="wi wi-day-sunny" ng-if="time.weather=='Clear'"></i>
                        <i class="wi wi-cloud" ng-if="time.weather=='Clouds'"></i>
                        <i class="wi wi-lightning" ng-if="time.weather=='Lightning'"></i>
                    </span>
                    <md-grid-tile-footer>
                        <span ng-bind="time.users.length - ((time.users.indexOf('{{ current_user }}')!=-1)?1:0)"></span>
                        user(s)
                    </md-grid-tile-footer>
                </md-grid-tile>
            </md-grid-list>
        </div>
        {% module xsrf_form_html() %}
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
        <script type="text/javascript">
            app = angular.module('myApp', ['ngMaterial']);
            app.controller('mainControl', function($scope, $window) {
                //
                $scope.day = [];
                //
                for (var i = 0; i < 24; i++) {
                    $scope.day.push({
                        'hour': (10 + i)%24,
                        'users': (i%3)?[
                            'aaa',
                            'bbb',
                            'emeric254'
                        ]:['aaa'],
                        'weather': (i%3)?'Rain':'Clear'
                    });
                }
                //
                $scope.sports = [
                    'judo',
                    'course a pied',
                    'sieste'
                ];
                //
                $scope.toggle_time = function(time_hour) {
                    // mock
                    time_hour = (time_hour<10)?time_hour+24-10:time_hour-10;
                    console.log($scope.day[time_hour]);
                    if ($scope.day[time_hour].users.indexOf('{{ current_user }}') != -1)
                        $scope.day[time_hour].users.splice($scope.day[time_hour].users.indexOf('{{ current_user }}'), 1);
                    else
                        $scope.day[time_hour].users.push('{{ current_user }}');
                    //
                };
            });
        </script>
    </body>
</html>
