<!DOCTYPE HTML>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Sport en plein air</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ static_url('css/weather-icons.min.css') }}">
        <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    </head>
    <body ng-app="myApp" ng-controller="mainControl" ng-cloak>
        <div layout-padding layout="column">
            <md-toolbar class="md-hue-2">
                <div class="md-toolbar-tools">
                    <md-icon class="material-icons">perm_identity</md-icon>

                    <h2 flex>Welcome {{ current_user }} !</h2>

                    <md-button class="md-raised md-warn" ng-href="/logout">
                        <md-icon class="material-icons">all_out</md-icon>
                        Logout
                    </md-button>

                </div>
            </md-toolbar>
            <h2 ng-if="connected_object">
                Your connected object is located in <span ng-bind="connected_object.position"></span>.
            </h2>
            <div layout="row" layout-align="space-between center">
                <p layout-margin>You want to : </p>
                <md-input-container layout-margin flex>
                    <label>Select a sport</label>
                    <md-select ng-model="choosen_sport" ng-change="choose_sport()">
                        <md-option ng-repeat="sport in sports" ng-value="sport">
                            <span ng-bind="sport"></span>
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
        </div>
        <md-progress-linear md-mode="indeterminate" ng-show="!day" ng-if="select_sport"></md-progress-linear>
        <div layout-padding ng-if="day">
            <md-grid-list md-cols-xs="2" md-cols-sm="3" md-cols-md="5" md-cols-gt-md="8" md-row-height-gt-md="1:1" md-row-height="2:2" md-gutter="12px" md-gutter-gt-sm="8px">
                <md-grid-tile class="gray" md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1" ng-repeat="time in day track by $index" ng-style="{'background': (time.users.indexOf('{{ current_user }}') != -1)?((time.users.length - ((time.users.indexOf('{{ current_user }}')!=-1)?1:0))?'darkgreen':'darkturquoise'):((time.users.length - ((time.users.indexOf('{{ current_user }}')!=-1)?1:0))?'bisque':'azure')}" ng-click="toggle_time($index)">
                    <span class="md-headline">
                        <span ng-bind="time.hour"></span>
                        h
                        <i class="wi wi-rain" ng-if="time.weather=='Rain'"></i>
                        <i class="wi wi-day-sunny" ng-if="time.weather=='Clear'"></i>
                        <i class="wi wi-cloud" ng-if="time.weather=='Clouds'"></i>
                        <i class="wi wi-lightning" ng-if="time.weather=='Lightning'"></i>
                    </span>
                    <md-grid-tile-footer>
                        <h3>
                            <span ng-bind="time.users.length - ((time.users.indexOf('{{ current_user }}')!=-1)?1:0)"></span>
                            user(s)
                        </h3>
                    </md-grid-tile-footer>
                </md-grid-tile>
            </md-grid-list>
        </div>
        {% module xsrf_form_html() %}
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
        <script type="text/javascript">
            app = angular.module('myApp', ['ngMaterial']);
            app.controller('mainControl', function($scope, $window, $http) {
                // load sports list
                $http.get('/sports').then(function successCallback(response) {
                    $scope.sports = response['data'];
                }, function errorCallback(response) {
                    console.log(response);
                });

                // connected object ws to receive its updates
                var ws_object = new WebSocket("ws://" + location.host + "/objectsocket/objects-" + '{{ current_user }}');
                ws_object.onopen = function() {
                    console.log("Socket «objects-{{ current_user }}» has been opened!");
                };
                ws_object.onmessage = function(message) {
                    $scope.connected_object = JSON.parse(message.data);
                    if ($scope.choosen_sport)
                        $scope.choose_sport();
                    $scope.$apply();  /* not a native angular function so we need to do an explicit refresh of the scope ... */
                };

                // sport choosen, open ws for the planning
                $scope.choose_sport = function() {
                    // choosen sport ws to receive planning updates
                    $scope.ws_day = new WebSocket("ws://" + location.host + "/planningsocket/sports-" + $scope.choosen_sport + "-" + $scope.connected_object.position);
                    $scope.ws_day.onopen = function() {
                        console.log("Socket «sports-" + $scope.choosen_sport + "-" + $scope.connected_object.position + "» has been opened!");
                    };
                    $scope.ws_day.onmessage = function(message) {
                        $scope.day = JSON.parse(message.data);
                        if ($scope.connected_object.weather && 'list' in $scope.connected_object.weather) {
                            var weather_list = $scope.connected_object.weather.list;
                            for (time in $scope.day) {
                                $scope.day[time].weather = weather_list[Math.floor(time/3)].weather[0].main;
                            }
                        }
                        $scope.$apply();  /* not a native angular function so we need to do an explicit refresh of the scope ... */
                    };
                };

                //
                $scope.toggle_time = function(time_index) {
                    if ($scope.ws_day) {
                        var index = $scope.day[time_index].users.indexOf("{{ current_user }}");
                        if (index != -1) {
                            $scope.day[time_index].users.splice(index, 1);
                        } else {
                            $scope.day[time_index].users.push("{{ current_user }}");
                        }
                        $scope.ws_day.send(JSON.stringify($scope.day));
                    };
                };

                //
                var refresh_planning = function() {
                    if ($scope.ws_day){
                        $scope.ws_day.send("refresh");
                    };
                };
                setTimeout(refresh_planning(), 30);
            });
        </script>
    </body>
</html>
