<!DOCTYPE HTML>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Sport en plein air</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
    </head>
    <body>
        <h2>Connexion</h2>
        <form name="connection" action="login" method="post">
            {% module xsrf_form_html() %}
            <input required name="username" type="text" placeholder="Username">
            <input required name="password" type="password" placeholder="Password">
            <button type="submit"> Sign in </button>
        </form>
        <h2>Inscription</h2>
        <form name="inscription" action="register" method="post">
            {% module xsrf_form_html() %}
            <input required name="username" type="text" placeholder="Username">
            <input required name="password" type="password" placeholder="Password">
            <button type="submit"> Sign up </button>
        </form>
    </body>
</html>
