<!DOCTYPE HTML>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Sport en plein air</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body ng-app="myApp" ng-cloak>
        <md-content layout="column" layout-align="center center" layout-padding>
            <h2>Registration</h2>
            <md-content layout-padding>
                {% try %}
                    {% if error %}
                        <i class="material-icons">error</i>
                        {% module linkify(error) %}
                    {% end %}
                {% except %}
                {% end %}
            </md-content>
            <form name="register" action="register" method="post" layout="column">
                {% module xsrf_form_html() %}
                <md-input-container class="md-block">
                    <label> Username </label>
                    <md-icon class="material-icons">perm_identity</md-icon>
                    <input required name="username" type="text" placeholder="Username">
                </md-input-container>
                <md-input-container class="md-block">
                    <label> Password </label>
                    <md-icon class="material-icons">vpn_key</md-icon>
                    <input required name="password" type="password" placeholder="Password">
                </md-input-container>
                <md-input-container class="md-block">
                    <label> Your connected object name</label>
                    <md-icon class="material-icons">cast_connected</md-icon>
                    <input required name="object-name" type="text" placeholder="Object name">
                </md-input-container>
                <md-button type="submit" class="md-raised md-primary">
                    <md-icon class="material-icons">border_color</md-icon>
                    Sign up
                </md-button>
                <md-button ng-href="/login" class="md-raised md-warn">
                    <md-icon class="material-icons">lock_open</md-icon>
                    Or Login
                </md-button>
            </form>
        </md-content>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
        <script type="text/javascript">
            angular.module('myApp', ['ngMaterial']);
        </script>
    </body>
</html>
